html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

li{
  list-style: none;
}

body {
  font-family: 'Segoe UI Symbol';
  background-image: url('./images/bg-pattern.png');
}

.main-container{
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

#country-input{
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.list-groups{
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 600px;


  background-color: lightgrey;
  border-radius: 5px;
}

.list-groups li{
  font-size: 18px;
}

.list-groups li:not(:last-child){
  margin-bottom: 15px;
}

.card{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 600px;

    border: lightslategrey solid 1px;
    border-radius: 8px;
}

.card-img-top img{
  width: 400px;
}